@charset "utf-8";

/* 全体 */
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #EAFCFC;
    margin: 0;

}
main{
    margin-top: 20%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    position: relative;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #EAFCFC;
}
header h1 img{
    width: 68%;
    height: 95%;
    /* background-color: #EAFCFC; */
}
.header .btn1{
    background-color: #FE5F55;
    color: #fff;
    width: 15%;
    height: 8%;
    text-decoration: none;
    
    right: 15%;
    position: fixed;
    top: 0;
}
.btntext{
    text-align: center;
    padding: 15% 0;
    font-weight: bold;
    font-size: 1.6em;
}

.menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 8%;
    width: 15%;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #FEDF55;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 35px;
    border-radius: 0;
    background-color: #000000;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #EAFCFC;
}
.menu-content ul {
    width: 101%;
    height: 8%;
    padding: 20% 0 8%;
}
.menu-content ul li{
    /* list-style: none; */
    margin: 0 18% 10%;
    /* list-style-type: none; */
}
.menu-content ul .nav1{
    height: 100%;
    width: 71%;
    background-color: #18B4FA;
    box-shadow: 5px 5px 0 0 #000;
    border: 2px solid #000;
    /* background-image: url(../img/button/button1.png);
    background-repeat: no-repeat; */
}
.menu-content ul .nav2{
    height: 100%;
    width: 71%;
    background-color: #1DD2BE;
    box-shadow: 5px 5px 0 0 #000;
    border: 2px solid #000;
    /* background-image: url(../img/button/button2.png);
    background-repeat: no-repeat; */
}
.menu-content ul li a {
    display: block;
    font-size: 2.0em;
    font-weight: bold;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 6% 0;
    text-align: center;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #EAFCFC;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}


footer{
    background-color: #727C85;
}
/* footer ul{
    list-style-type: none;
} */
footer ul li{
    /* list-style-type: none; */
    margin-bottom: 10%;
    
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
}
footer a{
    color: #fff;
    text-decoration: none;
    
}
footer p{
    color: #fff;
    text-align: center;
    
}


/* ボタン全体 */
#page_top{
    width: 20%;
    height: 10%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #FE5F55;
    border: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    }
  
    /* Font Awesome */
    #page_top::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "ページTOP";
        font-size: 1.6em;
        color: #ffffff;
        position: absolute;
        width: 55px;
        height: 55px;
        
        bottom: 10%;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }
    h2{
        margin-top: 20%;
    }
    /**** ここまで全体 ****/


    /*** TOP ***/
    .main{
        background-image: url(../img/photo.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 766px;
        position: relative;
    }
#dome .dome2{
    width: 100%;
}
.logo{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 15px 15px;
    width: 90%;
    height: 100%;
}
#logo2{
    position: absolute;
    top: 250px;
    left: 40px;
}
.megane{
    position: absolute;
    top: 58%;
}
.pink{
    position: absolute;
    top: 58%;
    left: 53%;
}
#btn0{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 7%;
}
.btn2,.btn4{
    /* background-image: url(../img/button/button3.png); */
    background-color: #18B4FA;
    box-shadow: 5px 5px 0 0 #000;
    border: 2px solid #000;
    background-repeat: no-repeat;
    text-align: center;
    width: 100px;
    height: 100px;
    
}
.btn3{
    /* background-image: url(../img/button/button4.png); */
    background-color: #1DD2BE;
    box-shadow: 5px 5px 0 0 #000;
    border: 2px solid;
    background-repeat: no-repeat;
    text-align: center;
    width: 100px;
    height: 100px;
}
#btn0 a{
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    
    
}
#btn0 li{
    /* list-style-type: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
   
  }
  
  .swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;

  }



.funayama{
    width: 100%;
    text-align: center;
}
.funayama img{
    width: 80%;
    /* margin: 0 auto; */
}
.funayama p{
    font-size: 1.6em;
}



    .btn00{
        background-color: #18B4FA;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
    
        display: block;
        width: 70%;
        height: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 2% 0;
        
    }
    .btn000{
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    .domebtn{
        background-color: #1DD2BE;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 2% 0;
    }
    .domebtn0{
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    
    .notebtn{
        background-color: #18B4FA;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        width: 70%;
        margin: 5% auto;
        text-align: center;
        padding: 3% 0;
    }
    .notebtn1{
        background-color: #1DD3BE;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        width: 70%;
        margin: 5% auto;
        padding: 3% 0;
        text-align: center;
    }
    .notebtn0{
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    details {
        
        padding: .5em .5em 0;
    }
    
    summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: .5em;
    }
    
    details[open] {
        padding: .5em;
    }
    .blue{
        background-color: #2684FF;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        color: #fff;
        margin: 2% auto;
        font-size: 1.6em;
    }
    .white{
        background-color: #fff;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        font-size: 1.6em;
        margin: 2% auto;
    }
    .red{
        background-color: #FF3A3A;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        font-size: 1.6em;
        margin: 2% auto;
        color: #fff;
    }
    .yellow{
        background-color: #FFFA72;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;
        font-size: 1.6em;
        margin: 2% auto;

    }

    .timesuke0{
        position: relative;
        width: 100%;
    }
    .timesuke{
        display: block;
        margin: 10% auto;
        
    }
    .shumoku{
        display: block;
        margin: 10% auto;
    }

    .supo{
        width: 90%;
        margin: 0 auto;
        font-size: 2em;
        border-bottom: 2px solid #000;
    }
    details p{
        font-size: 1.6em;
    }

    details dt{
        font-weight: bold;
        font-size: 1.6em;
    }
    details dd{
        font-size: 1.6em;
    }
    .note1{
        width: 90%;
        margin: 0 auto;
        font-size: 2em;
        border-bottom: 2px solid #000;
    }
    .note00 li{
        font-size: 1.6em;
        /* margin: 2% 3%; */
        list-style-type: disc;/* リストの左側に黒丸 */
	/* margin-left: 24px;リストの左側に余白 */
	text-align: left;
    }
    .note00{
        margin-bottom: 25%;
    }


    .fun0{
        height: 100%;
    }
    .fun0 p{
        font-size: 1.6em;
    }
    .fun, .fun2{
        display: flex;
        align-items: center;
    }
    .fun1{
        display: flex;
        flex-direction: row-reverse;
    align-items: center;
    }
    /* .fun img{
        float: left;
    } */
    .fun1 img
    {
        float: right;
    }
    .dome0, .dome2{
        display: flex;
        align-items: center;
    }
    .dome1, .dome3{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }


    
    .cp_box1 *, .cp_box1 *:before, .cp_box1 *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .cp_box1 {
        position: relative;
    }
    .cp_box1 label {
        /* position: absolute; */
        z-index: 1;
        bottom: 0;
        
        cursor: pointer;
        /* text-align: center; */
        /* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
        
        
    }
    .cp_box1 input:checked + label {
        background: inherit; /* 開いた時にグラデーションを消す */
    }
    .cp_box1 label:after {
        line-height: 2.5rem;
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        width: 16em;
        height: 2em;
        font-family: FontAwesome;
        content: ' 続きをよむ';
        font-weight: bold;
        font-size: 1.6em;
        transform: translate(-50%, 0);
        letter-spacing: 0.05em;
        color: #ffffff;
        background-color: #18B4FA;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;

    }
    .cp_box1 input {
        display: none;
    }
    .cp_box1 .cp_container {
        overflow: hidden;
        height: 100px; /* 開く前に見えている部分の高さ */
        transition: all 0.5s;
    }
    .cp_box1 input:checked + label {
        /* display: none ; 閉じるボタンを消す場合解放 */
    }
    .cp_box1 input:checked + label:after {
        font-family: FontAwesome;
        content: ' 閉じる';
        font-weight: bold;
        font-size: 1.6em
    }
    .cp_box1 input:checked ~ .cp_container {
        height: auto;
        padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
        transition: all 0.5s;
    }




    .cp_box2 *, .cp_box2 *:before, .cp_box2 *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .cp_box2 {
        position: relative;
    }
    .cp_box2 label {
        /* position: absolute; */
        z-index: 1;
        bottom: 0;
        
        cursor: pointer;
        /* text-align: center; */
        /* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
        
    }
    .cp_box2 input:checked + label {
        background: inherit; /* 開いた時にグラデーションを消す */
    }
    .cp_box2 label:after {
        line-height: 2.5rem;
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        width: 16em;
        height: 2em;
        font-family: FontAwesome;
        content: ' 続きをよむ';
        font-weight: bold;
        font-size: 1.6em;
        transform: translate(-50%, 0);
        letter-spacing: 0.05em;
        color: #ffffff;
        background-color: #1DD2BE;
        box-shadow: 5px 5px 0 0 #000;
        border: 2px solid #000;

    }
    .cp_box2 input {
        display: none;
    }
    .cp_box2 .cp_container {
        overflow: hidden;
        height: 100px; /* 開く前に見えている部分の高さ */
        transition: all 0.5s;
    }
    .cp_box2 input:checked + label {
        /* display: none ; 閉じるボタンを消す場合解放 */
    }
    .cp_box2 input:checked + label:after {
        font-family: FontAwesome;
        content: ' 閉じる';
        font-weight: bold;
        font-size: 1.6em;
        
    }
    .cp_box2 input:checked ~ .cp_container {
        height: auto;
        padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
        transition: all 0.5s;
    }

    .note p{
        font-size: 1.6em;
    }

    #dome p{
        font-size: 1.6em;
    }
    .kyougi p{
        font-size: 1.6em;
    }
    .color p{
        font-size: 1.6em;
        margin: 2% 3%;
    }
    .color h3{
        font-size: 2.5em;
    }
    .color h4{
        font-size: 2em;
    }
    .address h3{
        font-size: 2em;
    }
    .address p,
    .address address{
        font-size: 1.6em;
    }
    .address p{
        margin: 5% 3%;
    }
    address{
        margin: 10% auto;
        text-align: center;
    }
    .in li{
        list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 5%;/* リストの左側に余白 */
	text-align: left;
    font-size: 1.6em;
    }
    .menu li{
        font-size: 1.5em;
        margin: 2% 5%;
    }
    #kyougi p{
        font-size: 1.6em;
        margin: 2% 3%;
    }
    .time0 h3{
        font-size: 2em;
    }
    .dome h3{
        font-size: 2em;

    }
    .dome p{
        font-size: 1.6em;
        margin: 2% 3%;
    }
    .chui p,
    .chui li{
        font-size: 1.6em;
        margin: 2% 3%;
    }
    .kansen li{
        list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 5%;/* リストの左側に余白 */
	text-align: left;
    }